@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primary hover:bg-indigo-600 text-white font-medium py-2.5 px-5 rounded-lg transition duration-200 shadow-md;
  }
  .card {
    @apply bg-white dark:bg-gray-800 rounded-2xl shadow-xl p-6 border border-gray-100 dark:border-gray-700;
  }
}